.App {
  /* position: relative;
  display: inline-block;
  left: 13%;
  top:4%;
  width: 80vw; */
  width: 100%; /* Makes the image container responsive */
  /* max-width: 600px; 
  margin: 0 auto;  */
  text-align: center;
}

.scroll {
  width: 100%; /* Adjust as needed */
  height: auto;
}
.butterfly {
  width: 2vw;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
}
.overlay-poem {
  position: absolute;
  /* top: 30vh; 
  left: 30%;  */
  margin-left: 35%;
  margin-top:48%;
  transform: translate(0%, -50%); 

  font-weight: bold;
  text-align: center;
  text-wrap:wrap;
  padding: 3px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  align-items: flex-start;
}

.overlay-text {
  color:black;
  font-size: 0.9vw;
  line-height: 0.3;
}

.para-spacing{
  font-size: 0.9vw;
  line-height: 0.1;
}
